<!-- add_question.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Add Question</title>
</head>

<body>
    <h1>Add Question</h1>
    <form method="post" action="{% url 'import_questions_csv' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ question_form.as_p }}
        {{ choice_formset.management_form }}
        {% for form in choice_formset.forms %}
        {{ form.as_p }}
        {% endfor %} -->
        <input type="file" name="question_file">
        <button type="submit">Add Question</button>
    </form>
</body>

</html>