.navbar {
    margin-bottom: 50px;
    position: relative;
}

table {
    margin-left: 100px;
    margin-right: 100px;
}

table .action-container {
    display: flex;

}

.action-container a {
    margin-left: 10px;
}

form .btn-danger {
    margin-left: 10px;
}

tr th:nth-child(5) {
    text-align: justify;
}