<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopicUpdate</title>
</head>

<body>
    <!-- Example of a form to update topic name -->
    <form id="update-topic-form" method="post" action="{% url 'topic_update' topic_data.id %}">
        {% csrf_token %}
        <input type="text" name="name" value="{{ topic_data.name }}">
        <button type="submit">Update Topic</button>
    </form>

</body>

</html>